<div class="container">
    <div class="row">
        <div class="col-md stats-container">
            <h4>Top 10 Flavour Combinations</h4>
            <span class="tiny-description">By users</span>
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>
        </div>
        <div *ngIf="false" class="col-md col-sm stats-container">
            <h4>Your top 5 combinations</h4>
            <span class="tiny-description">Your favourites</span>
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
            </ul>        
        </div>
        <div class="col-md col-sm stats-container">
            <h4>Last added</h4>
            <span class="tiny-description">Last added by: User</span>
            <div>
                Last added combination
            </div>
        </div>
    </div>
</div>