<div class="container" style="width: 480px">
    <div class="logo">Register</div>
    <div class="login-form-1">
        <form id="login-form" class="text-left" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="rg_email" class="sr-only">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="rg_email" name="rg_email"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="rg_username" class="sr-only">Username</label>
                        <input formControlName="username" type="text" class="form-control" id="rg_username" name="rg_username"
                            placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="rg_password" class="sr-only">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="rg_password" name="rg_password"
                            placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="rg_password-repeat" class="sr-only">Password Repeat</label>
                        <input formControlName="passwordRepeat" type="password" class="form-control" id="rg_password-repeat"
                            name="rg_password-repeat" placeholder="password repeat">
                    </div>
                    <div class="form-group login-group-checkbox">
                        <input formControlName="iConsent" type="checkbox" id="rg_consent" name="rg_consent">
                        <label for="rg_consent">I am consent</label>
                    </div>
                </div>
                <button [disabled]="!registerForm.valid" type="submit" class="login-button"><i class="fa fa-chevron-right">Sign
                        Up</i></button>
                <div *ngIf="errors.length > 0" class="errors" style="padding-top: 10px">
                    <p>You have {{errors.length}} errors</p>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let error of errors; let i = index;">{{error}}</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>