<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h3>Profile settings - {{username}}</h3></li>
        <li class="list-group-item"><button type="button" class="btn btn-link" (click)="empty()">Change password</button></li>
        <li class="list-group-item"><button type="button" class="btn btn-link" (click)="empty()">Edit profile</button></li>
        <li class="list-group-item"><button type="button" class="btn btn-link" (click)="deleteMyData()">Delete my data</button></li>
        <li class="list-group-item"><button type="button" class="btn btn-link" (click)="logout()">Logout</button></li>
    </ul>
</div>